body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.navbar{
    background: rgb(94, 94, 212);
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
}

.logo{
    font-size: 34px;
}

.nav-links{
    display: flex;
    list-style: none;
    font-size: 20px;
}

.nav-links li{
    margin-right: 20px;
}

.nav-links li a{
    text-decoration: none;
    color: white;
}

.nav-links li a:hover{
    color: aquamarine;
}

.hero{
    background-repeat: no-repeat; 
    background-image: url();
}

/* HERO SECTION */

.hero{
    background-image: url('../hero.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 100px 0;
}

.hero-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.hero-content h1{
    font-size: 35px;
}

.hero-content p{
    font-size: 18px;
    margin-top: 20px;
}

/* About section */
.about{
    text-align: center;
    margin-top: 20px;
}

.about h1{
    display: inline;
    border-bottom: 2px solid red;
}

.about-me{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 40px auto;
}

.about-image img{
    max-width: 100%;
    border-radius: 10px;
}

.about-text{
    text-align: left;
}

.about-text h2{
    font-size: 30px;
    margin-bottom: 10px;

}

.about-text p{
    font-size: 16px;
    
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    .about-me{
        grid-template-columns: 1fr;
    }
}

/* Project Section */
.project{
    text-align: center;
    margin-top: 20px;
}

.project h1{
    border-bottom: 2px solid red;
    display: inline;
}

.project-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.project-items p{
    text-align: center;
    padding-top: 20px;
}

.one{
   color: white; 
   font-size: 26px;
   padding: 20px 10px;
   border-radius: 2px;
}

.first{
    background-color: aqua;
}

.second{
    background-color: crimson;
}

.third{
    background-color: darkcyan;
}

/* contact section */
.contact{
    text-align: center;
    margin-top: 20px;
}

.contact h1{
    display: inline;
    border-bottom: 2px solid red;
}

.contact-me{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 40px auto;
    align-items: center;
}

.contact-image p{
    border: 30px solid gainsboro;
    background-color: gainsboro;
    padding-right: 50px;
    margin: 0 auto;
    line-height: 30px;
    width: 200px;
}

.contact-image input{
    background-color: white;
    border: 5px solid;
    border-color: white;
    border-width: 10px;
    width: 113%;
}
.contact-image textarea{
    background-color: white;
    border-color: white;
    border-width: 6px;
}

.contact-image button{
    cursor: pointer;
    border: 10px solid blue;
    color: khaki;
    background-color: blue;
} 

.contact-text{
    text-align: left;
}

.contact-text h2{
    font-size: 30px;
    margin-bottom: 10px;

}

.contact-text p{
    font-size: 16px;
    
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    .contact-me{
        grid-template-columns: 1fr;
    }
}

.footer{
    background: rgb(94, 94, 212);
    color: #fff;
    display: flex;
    justify-content:center;
    text-align: center;
    padding: 15px;
   
}

/* Form Section */
/* .contact-us h3{
    border-bottom: 12px solid red;
    display: inline;
} */

/* .contact-us h2{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

/* .contact-us p{
    border: 30px solid gainsboro;
    background-color: gainsboro;
    padding-right: 50px;
    margin: 0 auto;
    line-height: 30px;
    width: 200px;
}

.contact-us input{
    background-color: white;
    border: 5px solid;
    border-color: white;
    border-width: 10px;
    width: 113%;
}
.contact-us textarea{
    background-color: white;
    border-color: white;
    border-width: 6px;
}

.contact-us button{
    cursor: pointer;
    border: 20px solid blue;
    color: khaki;
    background-color: blue;
} */